<div class="container-fluid">
  <h3 class="text-center">My Quotes</h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
        <div>
          <h4 id={{i}} appStrikethrough>{{quote.name}} due on {{quote.Date|date}}</h4>
          <button (click)='toggleDetails(i)' class="btn btn-info">Toggle Details</button>
        </div>
        <div *ngIf='quote.showDescription'>
          <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event, i)' (isLiked)='upvoteQuote($event, i)' (isDisLiked)='downvoteQuote($event, i)' class="btn btn-danger"></app-quote-detail>
      
        </div>
     </div>
    </div>
    <div class="col-md-6">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    
  </div>
  <!-- <p> *ngIf='quotes.length >5' >too many goals </p> -->
</div>
