/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image:url(https://cdn.pixabay.com/photo/2018/01/01/18/57/butterfly-3054736_960_720.jpg);
    margin-bottom: 5%;
    padding-top: 0%

}

